/*
Last Updated: 2022-03
Status:       Beta

Notes:
 * .qs-page-container-desktop is a high-level class applied to desktop styling. I'm not trying to style mobile, too much customization.
 * .qv-panel:not(.qv-mode-edit) allows us to not alter edit mode

Bugs:
 * Jitter on tab changes for Navigation & Actions due to transparent backgrounds

Minor Issues:
 * Remove over-use of !important
 * Make sure our targetting is more highly-aligned with Qlik's CSS
 * Create better Color Palettes
 * Don't override light text :/
 * Make the fade-in/fade-out top and bottom scrollable areas look better
 * Figure out why the page is a little longer than default

Enhancements:
 * 

Debatable Choices:
 * Added :not(.qv-mode-edit) to most everything to hide styling from the editor view
 * Hide ugly expand menu in favor of single three dot menu

*/

/* Properties/Variables */
:root
{
    --logo:               url("https://qsensedev.admin.virginia.edu/appcontent/0b9eaff1-324f-424b-9e5f-c5559169c29d/UBIE_2.png");
    
    --text-dark:          hsla(225,  50%,  11%, 1);
    --text-light:         white; 
    
    --uva-orange-dark:    hsla( 30, 100%,  37%, 1);
    --uva-orange:         hsla( 30, 100%,  45%, 1);
    --uva-orange-light:   hsla( 30, 100%,  53%, 1);
    --uva-orange-vlight:  hsla( 30, 100%,  77%, 1);
    
    --uva-navy:           hsla(225,  36%,  22%, 1);
    --uva-navy-light:     hsla(228,  28%,  47%, 1);
    --uva-navy-vlight:    hsla(228,  21%,  74%, 1);
    --uva-navy-vvlight:   hsla(228,  14%,  87%, 1);
    
    --grey:               hsla(  0,   0%,  50%, 1);
    --grey-light:         hsla(  0,   0%,  75%, 1);
    --grey-vlight:        hsla(  0,   0%,  90%, 1);
    --grey-trans:         hsla(  0,   0%,  50%, 50%);
    --grey-vtrans:        hsla(  0,   0%,  50%, 25%);
}


/*========================== SHEET STYLING ==================================*/

.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qvt-sheet
{
    background-color:     var(--uva-navy-vvlight);
    border-top:           1px solid var(--uva-navy);
}


/*========================== TEXT/FONT STYLING ==============================*/

/* Text size */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .responsive-text,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .responsive-text font
{
    font-size:            calc(11px + .25vw) !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .qv-object-title-text
{
    font-size:            calc(13px + .2vw) !important;
}

/* font color */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-title-text,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-listbox-text,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .responsive-text font,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-text,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable *
{
    color:                var(--text-dark);
}


/*========================== HEADER STYLING =================================*/

/* Change highlight colors of top toolbar to match page look & feel */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qs-toolbar * 
{
    color:                var(--text-dark) !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qs-toolbar .lui-button--success *
{
    color:                var(--text-light) !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .lui-button.lui-active, 
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .lui-button:active
{
    background-color:     var(--uva-navy-vvlight) !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qs-app-info-toggle .lui-icon 
{
    display:              none;
}

/* Make weird blue button highlighting orange */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .lui-button.lui-focused, 
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .lui-button:focus
{
    border:               1px solid var(--grey-light);
    box-shadow:           0 0 1px 1px var(--uva-orange);
    transition:           none;
}


/*========================== GENERAL OBJECT/TITLE STYLING ===================*/

.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .cell-content>.qv-object,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-container
{
    overflow:             hidden;
    border-radius:        7px;
    border:               1px solid var(--uva-navy-light) !important;
    box-shadow:           unset;
    transition:           all .5s ease-in-out;
    background-color:     white;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .cell-content>.qv-object
{
    padding:              7px;
    padding-bottom:       0px;
}

.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .cell-content>.qv-object:hover,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-container:hover
{
    border:               1px solid var(--uva-navy) !important;
    box-shadow:           0 0 5px var(--uva-orange);
}


/*========================== SPECIFIC OBJECT TYPE STYLING ===================*/

/* Style sheet Title object and text */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-container
{
    margin-left:          7px;
    margin-right:         7px;
    margin-top:           7px;
    background:           linear-gradient(90deg, var(--uva-orange) 0%, white 50%, white 50%, var(--uva-orange) 100%) !important;     /* Orange to White to Orange */
    /*background:           linear-gradient(90deg, white 0%, var(--uva-orange) 100%) !important;                                       /* Consistent with legacy Theme*/
    /*background:           linear-gradient(90deg, white 67%, var(--uva-orange) 100%) !important;                                      /* Delay start of the orange gradient */
    /*background:           linear-gradient(90deg, var(--uva-navy-light) 0%, white 33%, white 67%, var(--uva-orange) 100%) !important; /* Navy to White to Orange */
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) #sheet-title
{
    background-image:     var(--logo) !important;
    background-position:  100% !important;
    background-repeat:    no-repeat !important;
    background-size:      auto 67% !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-container .sheet-title-logo-img
{
    display:              none !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qvt-visualization-title
{
    padding-left:         7px !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .sheet-title-container *
{
    text-align:           center !important;
    font-weight:          bold;
}

/* Sheet Navigation & Actions Styling */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .cell-content>.qv-object.qv-object-swr-sense-navigation
{
    border:               unset !important;
    box-shadow:           unset !important;
    background:           unset;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-swr-sense-navigation .qv-object-content
{
    position:             relative;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-swr-sense-navigation .qv-object-content>.container
{
    position:             absolute;
    top:                  calc(50% - 5px);
    left:                 50%;
    transform:            translate(-50%,-50%);
}

/* Variable Object Styling */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable button
{
    padding:              15px 10px 15px 10px !important;
    height:               30px !important;
    line-height:          0px  !important;
}

/* Multiple Object Types */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .qv-object-header,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-header
{
    padding-bottom:       0px !important;
}


/*========================== CONTEXT MENU STYLING ===========================*/

/* Minimalist Sheet Object Menus */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-nav
{
    /*margin-top:         -30px;*/
    margin:               0px  !important;
    bottom:               0px  !important;
    right:                0px  !important;
    height:               0px  !important;
    width:                0px  !important;
    top:                  0px  !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-nav .lui-icon
{
    border:               none !important;
    background:           none !important;
    padding:              0px  !important;
    padding-right:        3px  !important;
    color:                var(--grey);
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-nav .lui-icon--expand,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-nav .lui-icon--more.big
{
    display:              none;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-header>.ng-hide:not(.ng-hide-animate)
{
    display:              inline !important;
    height:               10px;
}

/* More style-consistent expand */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) #grid .qv-gridcell.zoom 
{
    height:               calc(100% - 5px) !important;
    top:                  2.5px !important;
    left:                 2.5px !important;
    width:                calc(100% - 5px) !important;
}


/*========================== SCROLL STYLING =================================*/
/*
     ============================
     =====ABANDON==ALL==HOPE=====
     ============================
     =======YE==WHO==ENTER=======
     ============================
     ===========HERE=============
     ============================
                |  |
                |  |
                |  |
                |  |
                |  |
*/

/* Generic Scroll Stuff */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qvt-gridcell ::-webkit-scrollbar,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .scrollbar-track
{
    width:                10px !important;
    height:               10px !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qvt-gridcell ::-webkit-scrollbar-thumb,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .scrollbar-track.fade .scrollbar-thumb
{
    background:           var(--grey-vtrans) !important; 
    border-radius:        5px !important;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qvt-gridcell ::-webkit-scrollbar-thumb:hover,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .scrollbar-track.fade .scrollbar-thumb.active
{
    background:           var(--grey-trans) !important;
}

/* Text & Image Object scrolling */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .responsive-text
{
    overflow-y:           hidden !important;
    padding-right:        15px !important; /*for scrollbar space */
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .responsive-text:hover
{
    overflow-y:           auto !important;
    padding-right:        5px !important;
}
/* Add gradient to scrollable area bottom */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .media-tool-scrollbar::after,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .media-tool-scrollbar::before
{
    content:              '';
    position:             absolute;
    width:                calc(100% - 15px);
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .media-tool-scrollbar::before
{
    top:                  0;
    background:           linear-gradient(white, rgba(255, 255, 255, 0.001)); /* transparent keyword is broken in Safari */
    height:               min(25px, 4%);
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .media-tool-scrollbar::after
{
    bottom:               0;
    background:           linear-gradient(rgba(255, 255, 255, 0.001), white); /* transparent keyword is broken in Safari */
    height:               25px;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-text-image .responsive-text
{
    padding-top:          min(25px, 4%);
    padding-bottom:       min(25px, 4%);
}

/* Modify Variable Sheet object to allow Horizontal scroll */
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .bootstrap
{
    display:              inline-block;
    white-space:          nowrap;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-content
{
    overflow-x:           scroll;
    overflow-y:           hidden;
    padding-left:         15px;
    padding-right:        15px;
    width:                calc(100% - 30px);
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-content-container::before,
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-content-container::after
{
    content:              '';
    position:             absolute;
    height:               calc(100% - 15px);
    width:                15px;
    z-index:              1;
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-content-container::before
{
    left:                 0;
    background:           linear-gradient(90deg, white, rgba(255, 255, 255, 0.001)); /* transparent keyword is broken in Safari */
}
.qs-page-container-desktop .qv-panel:not(.qv-mode-edit) .qv-object-variable .qv-object-content-container::after
{
    right:                0;
    background:           linear-gradient(90deg, rgba(255, 255, 255, 0.001), white); /* transparent keyword is broken in Safari */
}

/*========================== REMOVED ========================================*/
/* 
/* General Selection Classes * /
.selected,
.serverSelected,
.selected-highlighted
{
    background-color:     var(--uva-orange) !important;
    border-top:           1px solid var(--uva-orange-dark) !important;
    border-bottom:        1px solid var(--uva-orange-dark) !important;
    border-left:          unset !important;
    border-right:         unset !important;
}

/* Variable Selector outline on hover * /
.qv-object-variable .bootstrap button:hover, 
.lui-button.lui-focused,
.lui-button:focus
{
    border-color:         var(--uva-orange-dark) !important;
}

/* Top tab hightlight * /
.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:focus
{
    border-bottom:        2px solid var(--uva-orange) !important;
}

/* Edit button/checkbox hightlight * /
.lui-button--success,
.lui-checkbox .lui-checkbox__input:checked + .lui-checkbox__check-wrap .lui-checkbox__check,
.lui-radiobutton .lui-radiobutton__input:checked+.lui-radiobutton__radio-wrap .lui-radiobutton__radio, .lui-switch .lui-switch__inner:before
{
    background-color:     var(--uva-orange) !important;
}
/* Edit button/checkbox hightlight * /
.lui-button--success span
{
    color:                var(--text-light) !important;
}

.lui-overlay-button {
    background-color:     var(--uva-orange-vlight)
}
.lui-overlay-button:hover {
    background-color:     var(--uva-orange-light) !important;
    border:               2px solid var(--uva-orange-dark) !important;
}
*/
